NET sys_clk                               LOC = N8 | IOSTANDARD = "LVCMOS33" | TNM_NET = sys_clk_pin;  
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk"  20  ns HIGH 50 %;
 
NET sys_rst_n                             LOC = G16 | IOSTANDARD = "LVCMOS33";   
NET tmds_data_p[0]                        LOC = R7 | IOSTANDARD = "TMDS_33"; 
NET tmds_data_p[1]                        LOC = P8 | IOSTANDARD = "TMDS_33"; 
NET tmds_data_p[2]                        LOC = R9 | IOSTANDARD = "TMDS_33"; 
NET tmds_clk_p                            LOC = P6 | IOSTANDARD = "TMDS_33"; 
NET "key[3]" LOC = R3 | IOSTANDARD = "LVCMOS33";
NET "key[2]" LOC = N6 | IOSTANDARD = "LVCMOS33";
NET "key[1]" LOC = N5 | IOSTANDARD = "LVCMOS33";
NET "key[0]" LOC = P5 | IOSTANDARD = "LVCMOS33"; 
