NET sys_clk                               LOC = N8 | IOSTANDARD = "LVCMOS33" | TNM_NET = sys_clk_pin;  
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk"  20  ns HIGH 50 %;
 
NET sys_rst_n                             LOC = G16 | IOSTANDARD = "LVCMOS33";   
NET tmds_data_p[0]                        LOC = R7 | IOSTANDARD = "TMDS_33"; 
NET tmds_data_p[1]                        LOC = P8 | IOSTANDARD = "TMDS_33"; 
NET tmds_data_p[2]                        LOC = R9 | IOSTANDARD = "TMDS_33"; 
NET tmds_clk_p                            LOC = P6 | IOSTANDARD = "TMDS_33"; 
NET "key_in[5]" LOC = E7 | IOSTANDARD = "LVCMOS33";
NET "key_in[4]" LOC = F7 | IOSTANDARD = "LVCMOS33";
NET "key_in[3]" LOC = P11 | IOSTANDARD = "LVCMOS33";
NET "key_in[2]" LOC = E8 | IOSTANDARD = "LVCMOS33";
NET "key_in[1]" LOC = D6 | IOSTANDARD = "LVCMOS33";
NET "key_in[0]" LOC = C6 | IOSTANDARD = "LVCMOS33"; 
NET "speed_change" LOC = J11 | IOSTANDARD = "LVCMOS33"; 

NET "seg_led[0]" LOC = J12 | IOSTANDARD = "LVCMOS33";
NET "seg_led[1]" LOC = H13 | IOSTANDARD = "LVCMOS33";
NET "seg_led[2]" LOC = L12 | IOSTANDARD = "LVCMOS33";
NET "seg_led[3]" LOC = K11 | IOSTANDARD = "LVCMOS33";
NET "seg_led[4]" LOC = L13 | IOSTANDARD = "LVCMOS33";
NET "seg_led[5]" LOC = L14 | IOSTANDARD = "LVCMOS33";
NET "seg_led[6]" LOC = K12 | IOSTANDARD = "LVCMOS33";
NET "seg_led[7]" LOC = M13 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[5]" LOC = G12 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[4]" LOC = H11 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[3]" LOC = F13 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[2]" LOC = J13 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[1]" LOC = N14 | IOSTANDARD = "LVCMOS33";
NET "seg_sel[0]" LOC = M14 | IOSTANDARD = "LVCMOS33";

